In [1]:
import numpy as np

In [2]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [3]:
np.ones((4,4), dtype = int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [4]:
np.ones((4,4), dtype = int)*7

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

In [5]:
np.full((4,4), 7)

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

In [7]:
np.arange(0,18,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16])

In [9]:
np.arange(0,25).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [12]:
np.linspace(0,25,25).reshape(5,5)

array([[ 0.        ,  1.04166667,  2.08333333,  3.125     ,  4.16666667],
       [ 5.20833333,  6.25      ,  7.29166667,  8.33333333,  9.375     ],
       [10.41666667, 11.45833333, 12.5       , 13.54166667, 14.58333333],
       [15.625     , 16.66666667, 17.70833333, 18.75      , 19.79166667],
       [20.83333333, 21.875     , 22.91666667, 23.95833333, 25.        ]])

In [17]:
np.linspace(0, 25, 25, endpoint = False).reshape(5,5)

array([[ 0.,  1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., 13., 14.],
       [15., 16., 17., 18., 19.],
       [20., 21., 22., 23., 24.]])

In [28]:
a= np.random(0,1)
a

TypeError: 'module' object is not callable

In [38]:
np.random.rand(5,5)

array([[0.836246  , 0.94905506, 0.35768269, 0.49861327, 0.88085129],
       [0.31631859, 0.9185775 , 0.98176695, 0.91377944, 0.22564603],
       [0.15417348, 0.41671712, 0.99702183, 0.42829524, 0.35755381],
       [0.85583892, 0.40512361, 0.47357558, 0.77522099, 0.22237292],
       [0.0045089 , 0.54094849, 0.050314  , 0.27934575, 0.36719139]])

In [39]:
from numpy import random

x = random.choice([3, 5, 7, 9])

print(x)

5

In [48]:
np.random.rand(5)

array([0.10002563, 0.11041942, 0.13876738, 0.28018819, 0.81671207])

In [49]:
np.random.randint(20, 50, size=(3, 4))

array([[34, 46, 40, 23],
       [27, 37, 49, 33],
       [25, 24, 49, 21]])

In [51]:
ranarr = np.random.randint(0, 60, 48).reshape(6,8)
ranarr

array([[45, 11, 44, 48, 30, 32, 19, 57],
       [33, 11, 17,  4, 15, 51, 32,  0],
       [46, 40, 23, 48, 35, 54, 23, 44],
       [ 0, 19, 21, 23, 24, 43, 32, 16],
       [40, 45, 55, 52, 38, 10, 38, 22],
       [ 8, 17, 33,  9, 38, 33, 15, 32]])

In [57]:
a = np.arange(1,17).reshape(4,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [58]:
a [1:3,1:3]

array([[ 6,  7],
       [10, 11]])

In [60]:
a[:,0]

array([ 1,  5,  9, 13])

In [71]:
a[1,::2]

array([5, 7])

In [72]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [73]:
a[:,2] = 77
a

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [74]:
Take 1st row 0 column, 3th row 2nd column.

SyntaxError: invalid syntax (<ipython-input-74-37636346100d>, line 1)

In [77]:
a

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [87]:
a[[1,0],[3,2]]

array([ 8, 77])

In [86]:
a[1,0]

5

In [96]:
a[1::2,::2]

array([[ 5, 77],
       [13, 77]])

In [107]:
np.median(a[:,3])

10.0

In [102]:
np.std(a[:,3])

4.47213595499958

In [105]:
np.std(a)

30.004166377354995

In [106]:
np.sum(a[:,2])

308

In [110]:
abc = a[(a<10)]
abc

array([1, 2, 4, 5, 6, 8, 9])

In [112]:
abc2 = a[(a>12)]
abc2

array([77, 77, 77, 13, 14, 77, 16])

In [114]:
abc3 = abc + abc2
abc3

array([78, 79, 81, 18, 20, 85, 25])

In [115]:
import pandas as pd

In [122]:
df=pd.read_csv("Salaries.csv")
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [124]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [126]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [137]:
df["TotalPay"].max()

567595.43

In [146]:
df["Year"].unique().tolist()

[2011, 2012, 2013, 2014]

In [152]:
df["TotalPay"].mean()

74768.321971703

In [158]:
len(df[df.TotalPay > df["TotalPay"].mean()])

69489