In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})

data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

In [4]:
data[("city")]

0    Gurgaon
1      Delhi
2     Mumbai
3      Delhi
4     Mumbai
5      Delhi
6     Mumbai
Name: city, dtype: object

In [6]:
data.iloc[1]

age                   22
section                B
city               Delhi
gender                 F
favourite_color     blue
Name: 1, dtype: object

In [8]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'country' : [ 'USA', 'GBR', 'TUR', 'NLD', 'BEL', 'DEU', 'FRA'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data.set_index('section', inplace=True)
data

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
C         13     TUR      F          yellow
D         21     NLD      M            pink
E         12     BEL      M           black
F         11     DEU      M           green
G         17     FRA      F             red

In [9]:
data[data['age']>15]['country']

section
B    GBR
D    NLD
G    FRA
Name: country, dtype: object

In [10]:

data[(data['age']>15) | (data['favourite_color'] == 'red')]

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
D         21     NLD      M            pink
G         17     FRA      F             red

In [11]:
data[(data['age']>15) & (data['favourite_color'] == 'red')]

         age country gender favourite_color
section
G         17     FRA      F             red

In [12]:
data[(data['age']>20) | (data['favourite_color'] == 'red')]

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
D         21     NLD      M            pink
G         17     FRA      F             red

In [13]:
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
np.random.seed(101)
data = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['X','Y'])
data

             X         Y
A1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
A2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [14]:

data['Y']['A2']

1    0.605965
2    0.740122
3   -0.589001
Name: Y, dtype: float64

In [15]:
data.loc['A1','X']

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [16]:
data['X']['A1']

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [17]:

data.loc['A2'].loc[1, 'Y']

0.6059653494949336